body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background: rgb(182,255,255);
	background: linear-gradient(0deg, rgba(182,255,255,1) 0%, rgba(0,212,255,1) 100%);
}

.robot {
	position: relative;
	left: 400px;
	top: 100px;
}

.robot .head {
	width: 200px;
	height: 150px;
	border-radius: 25px 25px 0 0;
	position: relative;
	right: -90px;
}

.robot .eye {
	width: 25px;
	height: 25px;
}

.robot .left-eye {
	position: relative;
	right: -50px;
	bottom: -10px;

}

.robot .right-eye {
	position: relative;
	right: -100px;
	
}

.robot .mouth {
	position: relative;
	width: 100px;
	height: 25px;
	border-radius: 0 0 25px 25px;
	bottom: -50px;
	right: -30px;

}

.robot .body {
	width: 400px;
	height: 500px;
	position: relative;
}

.robot .torso {
	width: 400px;
	height: 200px;
	border-radius: 0 0 25px 25px;
	position: relative;
}

.robot .torso .name {
	width: 100%;
	text-align: center;
	font-family: monospace;
	font-size: 40px;
	font-weight: 900;
	color: aliceblue;
	position: relative;
	top: 50px;
	
}

.robot .arm {
	width: 50px;
	height: 120px;
}

.robot .left-arm {
	position: relative;
	top: -87px;
	/* transform: rotate(-20deg); */

}

.robot .right-arm {
	position: relative;
	right: -350px;
	top: -300px;
	transform: rotate(20deg);
}

.right-hand {
	position: relative;
	top: 200px;
	right: 50px;
	z-index: 1000;
}

.robot .hand {
	position: relative;
	width: 50px;
	height: 50px;
	top: 120px;
	right:50px
}

.robot .leg {
	width: 50px;
	height: 100px;
}

.robot .left-leg {
	position: relative;
	right: -300px;
	transform: rotate(180deg);
}

.robot .right-leg {
	position: relative;
	transform: rotate(180deg);
	bottom: 100px;
	right: -50px;
}

.robot .foot {
	height: 50px;
	width: 100px;
}

.robot .left-foot {
}

.robot .right-foot {
}

.lightest-colour {
	background-color: aliceblue;
}

.light-colour {
	background-color: black;
}

.dark-colour {
	background-color:slateblue;
}
